/**All Common CSS Start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Podkova", serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
/** All Common CSS End  */
/** Navbar Design Start */
.navbar{
    display: flex;
    align-items: center;
}
.menu{
    margin-right: auto;
    margin-left: auto;
}
.nav_ul{
    display: flex;
}
.nav_ul li{
    padding: 60px 30px;
}
.nav_ul li a{
    color: black;
    font-size: 18px;
}
.nav_button button{
    padding: 10px 20px;
    background-color: transparent;
    border-radius: 5px;
}
.fa-star{
    font-size: 10px;
    margin-right: 5px;
}
/** Navbar Design End */
/* Feature Part Design Start */
.feature_section{
    background-color: #FFE979;
    padding-top: 65px;
    padding-bottom: 65px;
}
.feature{
    display: flex;
}
.feature_photo{
    width: 50%;
}
.feature_content{
    width: 50%;
    justify-items: end;
    align-content: center;
}
.feature_content h1{
    margin-bottom: 34px;
    font-weight: 700;
    font-size: 42px;
}
.feature_content p{
    font-family: 18px;
    width: 512px;
    margin-bottom: 42px;
}
.feature_content button{
    background-color: black;
    color: white;
    padding: 14px 36px;
    font-size: 22px;
    font-weight: 700;
    border-radius: 5px;
    margin-left: 58px;
    cursor: pointer;
    transition: .5s;
}
.feature_content button:hover{
    background-color: #FFE979;
    color: black;
}
/* Feature Part Design End */
/* Layout Part Design Start */
.layout{
    padding-top: 73px;
    padding-bottom: 103px;
}
.layout_container{
    display: flex;
}
.layout_general{
    width: 33.33%;
    justify-items: center;
}
.layout_general p{
    width: 316px;
    line-height: 1.5;
}
.layout_image{
    margin-bottom: 18px;
}
.layout_general h3{
    font-size: 24px;
    margin-bottom: 17px;
}
/* Layout Part Design End */
 /* Secondary Feature Design Start */
.secondary_feature{
    padding-bottom: 90px;
}
.secondary_box{
    display: flex;
    column-gap: 160px;
    align-items: center;
    justify-content: center;
}
.secondary_content button{
    background-color: #FFE979;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
    margin-bottom: 20px;
}
.secondary_content button:hover{
    background-color: transparent;
}
.secondary_content h3{
    font-size: 40px;
    font-weight: 600;
    width: 300px;
    margin-bottom: 20px;
}
.secondary_content p{
    width: 400px;
    font-size: 13px;
}
/* Secondary Feature Design End  */
/* Slideshow Heading Start */
.slide_heading h2{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 28px;
}
.slide_heading p{
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 127px;
    width: 951px;
    margin-left: auto;
    margin-right: auto;
}
/* Slideshow Heading End */
/* Slideshow Content Design Start */
.slideshow_content{
    display: flex;
    justify-content: center;
    column-gap: 25px;
    padding-bottom: 83px;
    margin-left: ;
}
.slideshow_content img{
    margin-bottom: 55px;
    margin-left: 25px;
}
.slideshow_content h6{
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
}
.slideshow_content p{
    font-size: 14px;
    width: 330px;
    margin-bottom: 15px;
    text-align: center;
}
.slideshow_content a{
    text-decoration: underline;
    text-align: center;
    color: black;
    transition: .5s;
}
.slideshow_content a:hover{
    color: #80753d;
}
/* Slideshow Content Design End */
/* Content & Layout System Design Start */
.section_layout{
    padding-top: 70px;
    padding-bottom: 34px;
    background-color: #EBFFE1;
}
.layout_content{
    display: flex;
    column-gap: 300px;
}
.layout_heading h3{
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}
.layout_content_icon p{
    margin-bottom: 40px;
}
.layout_content_icon i{
    margin-right: 10px;
}
.layout_content_icon{
    align-content: center;
}
/* Content & Layout System Design End */
/* Workflow Section Design Start */
.workflow_section{
    padding-top: 150px;
    padding-bottom: 100px;
}
.workflow_heading h2{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 28px;
}
.workflow_heading h6{
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 70px;
}
.workflow_content{
    display: flex;
}
.workflow_image{
    width: 50%;
}
.workflow_speed{
    width: 50%;
    align-content: center;
    justify-items: center;
}
.workflow_speed h5{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
}
.workflow_box{
    display: flex;
    column-gap: 36px;
}
.workflow_box1{
    width: 264px;
    height: 138px;
    background-color: #EBFAFF;
}
.workflow_box h6{
    margin: 24px 0 15px 0;
}
.workflow_box p{
    text-align: center;
}
.discover{
    font-weight: 700;
    margin-top: 15px;
}
.workflow_box2{
    width: 264px;
    height: 138px;
    background-color: #D9D9D9;
}
/* Workflow Section Design End */
/* Display Data Section Design Start */
.display_data{
    padding-bottom: 120px;
}
.display_data .workflow_content{
    column-gap: 150px;
}
.display_data .workflow_box1 h6, .display_data .workflow_box2 h6{
    text-align: center;
    font-weight: 700;
    font-size: 16px;
}
/* Display Data Section Design End */
/* Buy Section Design Start  */
.buy_section{
    position: relative;
    z-index: 1;
}
.buy_section .container .feature{
    padding-top: 72px;
    padding-bottom: 72px;
}
.buy_section .container{
    background-color: #FFE979;
}
.buy_section .feature_content h1{
    margin-left: 57px;
}
/* Buy Section Design End */
/* footer Design Start */
footer{
    background-color: black;
    z-index: -1;
    position: relative;
}
.footer_section{
    background-color: black;
    color: white;
    padding: 200px 0 30px 0;
    position: absolute;
    top: -35px;
    z-index: 10;
    width: 100%;
}
.footer_content{
    display: flex;
}
.footer_logo, .footer_list1, .footer_list2, .footer_signup{
    width: 25%;
}
.footer_list li a{
    color: white;
}
.footer_list li{
    margin-bottom: 10px;
}.footer_list li a{
    transition: .5s;
}
.footer_list li a:hover{
    color: #FFE979;
}
.footer_content{
    margin-bottom: 100px;
}
.footer_signup p{
    margin-bottom: 32px;
}
.footer_end p{
    font-size: 13px;
}
.span_logo{
    margin-left: 250px;
}
.span_logo a i{
    padding: 0 10px;
    color: white;
    transition: .5s;
}
.span_logo a i:hover{
    color: #FFE979;
}
.input-group input::placeholder{
    text-align: left;
}
.newsletter-form input[type = email]{
    padding: 12px 15px;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: left;
}
.input-group input{
    width: 284px;
}
.input-group button{
    background-color: black;
    padding: 3px 8px;
    color: white;
    border-radius: 5px;
    position: relative;
    top: -34px;
    left: 200px;
}
/* footer Design End */